altair==5.3.0
Flask==2.2.3
Flask_Bcrypt==1.0.1
Flask_Login==0.6.2
flask_sqlalchemy==3.1.1
Flask_WTF==1.1.1
matplotlib==3.7.1
mediapipe==0.9.1.0
numpy==1.23.5
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
pandas==1.5.3
plotly==5.18.0
Requests==2.31.0
scipy==1.13.0
streamlit==1.29.0
streamlit_lottie==0.0.5
Werkzeug==2.2.2
WTForms==3.0.1
